<nav class="main-navbar navbar navbar-expand-lg bg-body-tertiary pb-3 rounded-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-around w-100 fs-7">
        <li class="nav-item text-center cursor" (click)="onPage('home')">
          <i class="fas fa-tasks d-block fs-6 my-2"></i>
          Tâches
        </li>
        <li class="nav-item text-center cursor" (click)="onPage('podium')">
          <i class="fas fa-trophy d-block fs-6 my-2"></i>
          Podium
        </li>
        <li class="nav-item text-center cursor" (click)="onPage('settings')">
          <i class="fas fa-cog d-block fs-6 my-2"></i>
          Paramètres
        </li>
      </ul>
    </div>
  </div>
</nav>
